* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', Courier, monospace;
}

body {
    background: #22262F;
}

button {
    cursor: pointer;
    transition: transform 300ms;
}

button:hover {
    background: #565F76;
    transform: translateY(-5px);
}

.app {
    margin: auto;
    width: 80%;
    height: 100vh;
}

.sidebar {
    display: grid;
    flex-direction: column;
    height: 100%;
    grid-template-rows: repeat(3, 60px) auto;
    justify-content: center;
    align-items: center;
}

.new {
    margin-top: auto;
}

.sidebar > button {
    color: white;
    border: 1px solid white;
    background: #22262F;
    font-size: 1.2em;
    height: 50px;
    min-width: 130px;
    border-radius: 30px;
}

.numbersbar {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(9, auto);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 20px;
}

.number {
    color: white;
    display: block;
    font-size: 2.7em;
    width: 60px;
    height: 60px;
    border: 1px solid white;
    background: #22262F;
    border-radius: 50%;
}

.notes {
    display: block;
    width: 60px;
    height: 60px;
    grid-column-start: 1;
    grid-column-end: 10;
    color: white;
    border: 1px solid white;
    background: #22262F;
    border-radius: 50%;
}

.notes p {
    transform: translateY(20px)
}

.icon {
    font-size: 1.5em;
}

.header {
    color: white;
}

.sudoku-space {
    display: grid;
    margin: auto;
    grid-template-columns: auto minmax(130px, 230px);
    column-gap: 10px;
    justify-content: center;
}

.sudoku {
    display: grid;
    grid-template-rows: repeat(9, minmax(0px, 65px));
    grid-template-columns: repeat(9, minmax(0px, 65px));
    border: 3px solid #426CE7;
    background: #EDF1FD;
    aspect-ratio: 1;
}

.cell {
    border: 0.5px solid #426CE7;
}

.notEmptyCell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.emptyCell {
    display: grid;
    grid-template-columns: repeat(3, minmax(13px, auto));
    grid-template-rows: repeat(3, minmax(13px, auto));
    font-size: 0.8em;
}

.numberNote {
    display: flex;
    justify-content: center;
    align-items: center;
}

.guess {
    /* color: #1FADFF; */
    color: #426CE7;
}

.tborder {
    border-top: 3px solid #426CE7;
}

.lborder {
    border-left: 3px solid #426CE7;
}

.selected {
    background: #ADE2FF;
}

.blocked {
    /* background: #FFD829; */
}

@media (max-width: 650px) {
    .app {
        grid-template-areas: 
            "hd"
            "sb"
            "sk"
            "nb";
        justify-content: flex-start;
        grid-template-rows: 0.5fr 1fr 4fr 1fr;
    }

    .sudoku-space {
        justify-content: flex-start;
    }

    .sidebar {
        column-gap: 10px;
        grid-template-columns: repeat(2, minmax(0, 230px));
        justify-content: flex-start;
    }

    .new {
        grid-row-start: 1;
        margin: 0;
    }
}
