* {
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-item {
    margin-top: 30px;
}

.primerComponente {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    word-break: break-word;
    width: 300px;
    height: 80px;
}
